# Degenplaybot Configuration
# Run `npm run setup` to automatically generate .env file

# Core config
LOG_LEVEL=info
NODE_ENV=development

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# GMGN API
GMGN_API_KEY=gmgn_1660ede5d275eae0903ed75834984154

# Solana Configuration
WALLET_ADDRESS=
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
